<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Recipe Name" />
      <input type="text" name="description" placeholder="Description" />
      <input type="text" name="ingrediants" placeholder="Ingrediants" />
      <!-- image select -->
      <input type="file" name="thumbnail" placeholder="Thumbnail" />
      
      <button>Register</button>
    </form>
  </body>
</html>
